.admin-inner{
    text-align: left;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
    justify-content: left;
    padding-top: 120px;
    padding-left: 410px;
    padding-right: 200px;
    width: 50vw;
    padding-bottom: 150px;
    background-color: aliceblue;
}
.form-class{
    width: 100vw;
}
.login-input{
    width: auto;
    background-color: blue;
    color: aliceblue;
    border-radius: 7px;
    border-width: 1px;
    padding: 3px;
}