
.input{
    border-radius: 5px;
    border-width: 1px;
    padding: 4px;
}
.home-desktop-img{
    height: 100%;
    width: 50vw;
    background-size: cover;
}
.form-group{
    border-radius: 10px;
    border-width: 0px;
}

.login{
    background-color: blue;
    border-width: 1px;
    width: 60px;
    padding: 3px;
    color: aliceblue;
}
@media screen and (min-width:690px) {
    .container{
        display: flex;
        flex-direction: row;
    } 

    .login-inner{
        text-align: center;
        display: flex;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        flex-direction: column;
        justify-content: center;
        padding-top: 200px;
        width: 50vw;
        padding-bottom: 200px;
        background-color: aliceblue;
    }
   
}

@media screen and (max-width:690px) {
    .container{
        display: flex;
        flex-direction: column;
    } 

    .login-inner{
        text-align: center;
        display: flex;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        flex-direction: column;
        justify-content: center;
        padding-top: 80px;
        width: 100vw;
        padding-bottom: 100px;
        background-color: aliceblue;
    }
    .home-desktop-img{
        height: 60vh;
        width: 100vw;
        background-size: cover;
    }
}

